body {
    background-color: rgb(249, 249, 247);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    background-color: rgb(236, 239, 235);
    margin-top: auto;
    width: 100%;
}

footer a {
    color: black;
}

.lista-rutas-subidas h3,
.validar-rutas h3,
.rutas-oficiales h3,
.card h5,
.ubicacion h3,
.descripcion h3,
.lista-favoritos h3,
.lista-resenas h3,
h1, 
form label,
.enlace-registrate{
    color:rgb(95, 114, 88)
}

.enlace-registrate:hover{
    color:rgb(181, 198, 176);
    cursor: pointer;
}

header {
    background-color: rgb(236, 239, 235);
}

header h1 {
    background-color: rgb(236, 239, 235);
}

header nav {
    background-color: rgb(236, 239, 235);
}

form button {
    text-align: center;
    background-color: rgb(236, 239, 235);
    color: black;
    border: 1px solid rgb(236, 239, 235);
    padding: 10px 16px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: rgb(181, 198, 176);
    border-color: rgb(137, 157, 130);
    transform: scale(1.03);
    cursor: pointer;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.rutas-index{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
}

.card {
    width: 18rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.alerta-bienvenida,
.card a {
    color:  rgb(137, 157, 130);
    font-weight: bold;
}

.card a:hover {
    color: rgb(64, 90, 54);
    text-decoration: underline;
}

.lista-montanias,
.lista-aridas{
    margin: 10px;
}

.ruta-listado {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.ruta-listado img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.ficha img {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.ruta-contenido {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.ruta-contenido img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.ruta-listado:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.dificultad {
    font-weight: bold;
}

.dificultad.baja {
    color: #198754;
}

.dificultad.media {
    color: #fd7e14;
}

.dificultad.alta {
    color: #dc3545;
}

.ficha {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista-rutas-subidas,
.rutas-oficiales,
.validar-rutas,
.descripcion,
.lista-resenas,
.lista-favoritos,
.ubicacion {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #eaeaea;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.lista-rutas-subidas,
.lista-favoritos,
.rutas-oficiales,
.validar-rutas,
.lista-resenas {
    margin-top: 30px;
    background: #fafafa;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 12px;
}

.resena {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.resena p {
    margin-bottom: 6px;
}

.resena:last-child {
    border-bottom: none;
}

.estrellas {
    color: rgb(137, 157, 130);
    font-size: 18px;
    margin-top: 4px;
    display: flex;
    gap: 2px;
}

.atras {
    color: rgb(137, 157, 130);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px; 
}

.atras:hover {
    color: rgb(64, 90, 54);
    text-decoration: underline;
}

.logo-rutas {
    color: rgb(137, 157, 130);
    transition: 0.3s;
}

.logo-rutas:hover {
    color: rgb(64, 90, 54);
}

.usuario-texto {
    font-size: 18px;
    color: rgb(137, 157, 130);
    font-weight: 600;
}

.toast-exito {
    position: fixed;
    bottom: 300px;;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(137, 157, 130);
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 9999;
    animation: desvanecer 1s ease 3s forwards;
}

@keyframes desvanecer {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating label {
    cursor: pointer;
    color: rgb(200, 210, 198);
    font-size: 18px;
}

.rating label:hover i::before,
.rating label:hover ~ label i::before {
    color: rgb(64, 90, 54);
}

.rating .rating-radio {
    display: none;
}

.rating input[type="radio"]:checked ~ label i {
    content: "\f588";
    color: rgb(19, 68, 2);
}

.alerta-errocrear,
.alerta-errologin {
    display: block;
    width: fit-content;
    margin: 20px auto 10px auto;

    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    padding: 12px 16px;
    border-radius: 8px;
}

.alerta-errorcrear{
    display: block;
    width: fit-content;
    margin: 20px auto 10px auto;

    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    padding: 12px 16px;
    border-radius: 8px;
}

.alerta-errorcrear ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.alerta-errorcrear li {
    margin: 0;
}

.toast-aviso {
    position: fixed;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(255, 0, 0);
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 9999;
    animation: desvanecer 1s ease 3s forwards;
}

@keyframes desvanecer {
    from { opacity: 1; }
    to   { opacity: 0; }
}